*{

      margin:0%;
      padding:0%;
}

html, body{
   width:100%;

   margin:auto;
}

body {


   background-image: url(images/backedit.jpg);
   background-size:contain;

   font-family: Arial, serif;
   line-height: 1.8em;
   font-weight: normal;
}

img{
   border-radius: 10%;
}

h1 {
   text-align: center;
   padding-bottom: 40px;
   font-style: italic;
}

h1:hover{
   color: #f4f4f4;
}

h3{
   color:#33333;
}

#content {
   width: 100%;
   max-width:90%;
   margin: auto;
}

.content-section {
   width: inherit;
   padding: 2em 1em;
}

#profile {
   width: inherit;
}


#profile:after {
   content:"";
   display:table;
   clear:both;
}

#profile img{
   float: right;
   width: 20%;
   border: 2px #ddd solid;
   margin-left:10em;
}

#city{
   width: inherit;
}

#city:after {
   content:"";
   display:table;
   clear:both;
}

#city img{
   width:30%;
   border: 2px #ddd solid;
   margin-right:10em;
   align-items: center;
}

#language{
   width: inherit;
}

table{
   border:solid 2px cyan;
   width:40%;
}

th:hover{
   background-color: #eee;
}

tr:hover{
   color:red;
}

th, tr{
   border:dotted 2px yellow;
   text-align:center;

   padding:5%;
}

#language: after{
   content:"";
   display:table;
   clear:both;
}

#historical{
   width:inherit;
}

.places{
   width:inherit;
   line-height: 2em;
}

.places img{
   width:28%;
   float: left;
   margin-right:2em;
   border:dotted 2px #ddd;
   margin-bottom:5em;

}

#district{
   width:inherit;
   margin:auto;
}


#district:after{
   content:"";
   display:table;
   clear:both;
}


#Castle{
   width:inherit;
   margin:auto;
}

#Castle:after{
   content:"";
   display:table;
   clear:both;
}

#hall{
   width:inherit;
   margin:auto;
}

#hall:after{
   content:"";
   display:table;
   clear:both;
}



hr{
   width: inherit;
   border:none;
   height:1em;
   background-color: #ddda;
}

.footer{
   background-color: #000a ;
   width:inherit;
   line-height: 1.5em;
   text-align:center;
   padding-bottom:1em;
}
