html{

}

body {

   position:relative;
   top:50px;
   padding: 0px;
   margin:2px;

}

p{
   font-size: 15px;
}

h1{
   position:relative;
   text-align: center;
}
#content {
   position:relative;
   border: solid 1px;
   background-image: url(images/back.jpg);
}

.box{
   position:relative;
   margin-left:100px;
   width:1000px;
   height:400px;
}

#pic1{
   position:relative;
   float: right;
   padding-top: 40px;
}

#pic2{
   position:relative;
   float
   padding-top: 40px;
}

.bio{
   position:relative;
   text-align:left;
   float:right;
   padding-top:30px;
}
